body {
    padding-top: 60px;
    padding-bottom: 40px;
 }
.order-date {
    float: left; 
    margin-right: 15px;
}
.order-comment {
    font-size: 12px;
}
.orderDetails-productName {
    float: left; 
}
.orderDetails-quantity {
     display: inline;
    float: right; 
}
.button{
	margin-top: 25px;
}
.overlayContents{
  padding: 10px;
  border-width: 2px;
  border-style: solid;
  border-radius: 15px;
  height:фгещ;
  background-color:#5F5F5F;
}
.dx-theme-ios .overlayContents{
  border-color:#43628D;
  background-color:#F7F7F7;
}
.dx-theme-android .overlayContents{
  border-color:#FFFFFF;
  background-color:#5F5F5F;
}
.dx-theme-win8 .overlayContents{
  border-color: #E4E4E4;
  background-color:#333333;
}



/*  ######################### 
 *	### Calculator styles ###
 *  ######################### */

.u1 , 
.u2,
.u3,
.u4 {
    float: left;
    margin: 3px;
}
.u1 {
    width: 40px;
}
.u2 {
    width: 86px;
}
.u3 {
    width: 132px;
}
.u4 {
    width: 100%;
}


.display {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: inset 0 1px 1px #0A0B0D, 0px 1px #5E6370;
	-webkit-box-shadow: inset 0 1px 1px #0A0B0D, 0px 1px #5E6370;
	box-shadow: inset 0 1px 1px #0A0B0D, 0px 1px #5E6370;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	background-color: #17181E;
	border: 1px solid #181A20;
	padding: 0 10px;
	text-align: right;
}

.display-inner {

    overflow: hidden;
}
.display-text {
	color: #fff;
	font-size: 22px;
	line-height: 42px;
	overflow: hidden;
	unicode-bidi: embed;

    float: right;
}
/* Grid units */
/*.u1 .dx-widget, 
.u2,
.u3,
.u4 .dx-widget{
    float: left;
    margin: 3px;
}
.u1 .dx-widget{
    width: 40px;
}
.u2 {
    width: 86px;
}
.u3 {
    width: 132px;
}
.u4 .dx-widget{
    width: 178px;
}

.calculator {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: inset 0px 1px #7b839b;
	-webkit-box-shadow: inset 0px 1px #7b839b;
	box-shadow: inset 0px 1px #7b839b;
	background-color: #3C4150;
	border: 1px solid #181A20;
	float: left;
	padding: 6px;
	width: 184px;
}

.display {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: inset 0 1px 1px #0A0B0D, 0px 1px #5E6370;
	-webkit-box-shadow: inset 0 1px 1px #0A0B0D, 0px 1px #5E6370;
	box-shadow: inset 0 1px 1px #0A0B0D, 0px 1px #5E6370;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	background-color: #17181E;
	border: 1px solid #181A20;
	padding: 0 10px;
	text-align: right;
}
.display-text {
	color: #fff;
	font-size: 22px;
	line-height: 42px;
	overflow: hidden;
	unicode-bidi: embed;
	width: 1000px;
    float: right;
}

.button {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid #181A20;
	color: #fff;
	cursor: pointer;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	line-height: 25px;
	padding: 0 8px;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
}
.button:active,
.button-active {
	position: relative;
	top: 1px;
}
.button:active,
.button:focus {
	outline: 0;
}
*/