body {
    padding-top: 60px;
    padding-bottom: 40px;
}
.order-date {
    float: left; 
    margin-right: 15px;
}
.order-comment {
    font-size: 12px;
}
.orderDetails-productName {
    float: left; 
}
.orderDetails-quantity {
     display: inline;
    float: right; 
}