<div data-options="dxView : { name: 'home', title: 'Home' } " >
    <div data-bind="dxCommand: { title: 'Search', placeholder: 'Search...', location: 'create', icon: 'find', action: find }"></div>

    <div data-options="dxContent : { targetPlaceholder: 'content' } ">
        <div data-bind="dxLookup: { dataSource: productTypes, displayExpr: 'ProductTypeName', valueExpr: 'ProductTypeID', value: productTypeId, visible: showSearch }"></div>
        <div class="label">
            <div class="productName">ProductName</div>
            <div class="price">Price</div>
            <div class="quantity">Q-ty</div>
        </div>
        <div data-bind="dxList: { dataSource: productList}">
            <div data-options="dxTemplate : { name: 'item' } " data-bind="visible: filtered, click: function(){ $root.showOverlay($data); } ">
                <div>
                    <div class="productName" data-bind="text: ProductName"></div>
                    <div class="quantity" data-bind="text: Price"></div>
                    <div class="quantity" data-bind="text: Quantity"></div>
                </div>
            </div>
        </div>
        <div id="overlayContainer" data-bind="dxOverlay: { visible: overlayVisible }">
            <div class="overlayContents">
                <div class="calculator">
                    <div class="u4 display">
                        <div class="display-inner"><div class="display-text" data-bind="text:display"></div></div>
                    </div>
                    <div class="dx-field-value">
                        <div class="сbutton" data-bind="dxButton: { text: '7' , clickAction: numberClick, width:'27%'}"></div>
                        <div class="сbutton" data-bind="dxButton: { text: '8' , clickAction: numberClick, width:'27%'}"></div>
                        <div class="сbutton" data-bind="dxButton: { text: '9' , clickAction: numberClick, width:'27%'}"></div>
                    </div>
                    <div class="dx-field-value">
                        <div class="сbutton" data-bind="dxButton: { text: '4' , clickAction: numberClick, width:'27%'}"></div>
                        <div class="сbutton" data-bind="dxButton: { text: '5' , clickAction: numberClick , width:'27%'}"></div>
                        <div class="сbutton" data-bind="dxButton: { text: '6' , clickAction: numberClick, width:'27%'}"></div>
                    </div>
                    <div class="dx-field-value">
                        <div class="сbutton" data-bind="dxButton: { text: '1' , clickAction: numberClick, width:'27%'}"></div>
                        <div class="сbutton" data-bind="dxButton: { text: '2' , clickAction: numberClick, width:'27%'}"></div>
                        <div class="сbutton" data-bind="dxButton: { text: '3' , clickAction: numberClick, width:'27%'}"></div>
                    </div>
                    <div class="dx-field-value">
                        <div class="сbutton" data-bind="dxButton: { text: 'c', clickAction: clearClick , width:'27%' }"></div>
                        <div class="сbutton" data-bind="dxButton: { text: '0' , clickAction: numberClick, width:'27%'}"></div>
                        <div class="сbutton" data-bind="dxButton: { text: '&#x21e4' , clickAction: backspaceClick , width:'27%'}"></div>
                    </div>
                    <div class="dx-field-value">
                        <div data-bind="dxButton: { text: 'Hide overlay', clickAction: hideOverlay }"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>